/* Colores de referencia */
:root {
  --color-color: rgb(85, 14, 107);
  --color-border: rgb(148, 30, 184);
  --color-shadow: 0 0 8px rgb(26, 5, 32);
  --color-text: rgb(26, 5, 32);
  --color-background-tiped: #c4c4c4;
  --color-background-general: #f1f1f1;
  --color-error: rgb(128, 1, 1);
}

.background{
  margin: 0;
  padding: 0;
  background-image: url("../../../public/image/fondoDogsClear.jpg");
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  height: 600px;
  margin: 10px 10px 10px 10px;
  border-radius: 30px;
  border: 3px solid var(--color-color);
  box-shadow: var(--color-shadow);
  margin: 50px;
  background-color: rgba(73, 73, 73, 0.671);
  backdrop-filter: blur(10px);
}

.DivButtonTittle {
  margin: 10px;
  width: 100%;
  height: 60px;
}

.DetailButtonForm {
  position: relative;
  height: 40px;
  width: 70px;
  top: 30px;
  left: -400px;
  padding: 5px 15px;
  background-image: url("../../../public/image/ButtonGoBack.jpg");
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-color);
  border: outset;
  border-color: var(--color-border);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.DetailButton:hover {
  background-color: var(--color-border);
  transform: translateY(1px);
  box-shadow: 0 3px 6px var(--color-shadow);
  border: groove;
  border-color: var(--color-border);
}
.DetailButton:active {
  transform: scale(0.95);
  box-shadow: var(--color-shadow);
}

.ReloadButton{
  position: absolute;
  height: 45px;
  width: 45px;
  bottom: 30px;
  right: 140px;
  background-image: url("../../../public/image/clear.jpg");
  background-size: 170%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-color);
  border: outset;
  border-color: var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.ReloadButton:hover {
  background-color: var(--color-border);
  transform: translateY(1px);
  box-shadow: 0 3px 6px var(--color-shadow);
  border: groove;
  border-color: var(--color-border);
}
.ReloadButton:active {
  transform: scale(0.95);
  box-shadow: var(--color-shadow);
}



.DetailTittle {
  display: flex;
    position: relative;
    background-color: rgba(88, 88, 88, 0.5);
    color: rgb(34, 5, 43);
    padding: 10px;
    justify-content: center;
    justify-self: center;
    left:300px;
    top: -30px;
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    border: 3px solid rgba(122, 22, 153, 0.589);
  font-family: Arial, sans-serif;
}

.ContainerDivInput {
  margin-top: 90px;
  width: 800px;
  height: 400px;
  max-width: 100%;
}

.FormDivInput {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  margin-left: 350px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.FormLavel {
  margin-left: -150px;
}

.DivLavel {
  margin: 50px 0px 0px 350px;
}

.Inputs {
  position: absolute;
  border: 1px solid var(--color-border);
  width: 200px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  color: var(--color-color);
}

.ErrorMessage {
  position: absolute;
  color: var(--color-error);
  width: 290px;
  margin-left: 220px;
  font-weight: bold;
  font-size: 14px; /* Tamaño del texto de error */
  flex-grow: 1;
}

.FormDivInputTemp {
  display: flex;
  width: 900px;
  height: 50px;
  left:570px;
  align-items: center;
}

.FormLavelTemp {
  margin-left: 200px;
  font-size: 18px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.InputsTemp {
  position: absolute;
  border: 1px solid var(--color-border);
  width: 400px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  color: var(--color-color);
  left: 460px;
}

.TemperamentsList {
  position: absolute;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  overflow-x: hidden;
  width: 90%;
  max-height: 300px;
  background-color: rgba(73, 73, 73, 0.363);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-top: 5px;
  margin-left: -130px;
  display: flexbox;
  z-index: 1;
  column-count: 8;
  top: 130px;
  left: 200px;
  transition: max-height 0.3s ease-out;
}

.TemperamentsList.show {
  display: block;
  max-height: 400px;
  
}

.TemperamentsList span {
  display: block;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
  white-space: wrap;
  color: var(--color-color);
  background-color: rgb(197, 109, 214);
  border-radius: 10px;
}

.TemperamentsList span:hover {
  background-color: var(--color-color);
  color: var(--color-background-tiped);
}

.FormLavelImage {
  display: block;
  margin-bottom: 5px;
  color: var(--color-color);
}

.ButtonFomr {
  position: absolute;
  height: 45px;
  width: 90px;
  bottom: 30px;
  right: 30px;
  color:var(--color-background-fondo2);
  font-weight: bold;
  font-size: 14px;
  background-color: var(--color-color);
  border: outset;
  border-color: var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.ButtonFomr:hover {
  background-color: var(--color-border);
  transform: translateY(1px);
  box-shadow: 0 3px 6px var(--color-shadow);
  border: groove;
  border-color: var(--color-border);
}
.ButtonFomr:active {
  transform: scale(0.95);
  box-shadow: var(--color-shadow);
}