:root {
  --color-color: rgb(85, 14, 107);
  --color-border: rgb(148, 30, 184);
  --color-shadow: 0 0 8px rgb(26, 5, 32);
  --color-text: rgb(26, 5, 32);
  --color-background-tiped: #c4c4c4;
  --color-background-general: #f1f1f1;
  --color-error: rgb(128, 1, 1);
}

.Background{
  margin: 0;
  padding: 0;
  background-image: url("../../../public/image/fondoDogsClear.jpg");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.DetailCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 85vw;
  border-radius: 30px;
  border: 3px solid var(--color-color);
  box-shadow: var(--color-shadow);
  background-color: rgba(73, 73, 73, 0.671);
  backdrop-filter: blur(10px);
}

.ButtonTittle {
  position: relative;
  display: flex;
  margin: 10px;
  width: 100%;
  height: 60px;
}

.DetailButton {
  position: relative;
  height: 40px;
  width: 70px;
  top: 30px;
  left: 20px;
  padding: 5px 15px;
  background-image: url("../../../public/image/ButtonGoBack.jpg");
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-color);
  border: outset;
  border-color: var(--color-border);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.DetailButton:hover {
  background-color: var(--color-border);
  transform: translateY(1px);
  box-shadow: 0 3px 6px var(--color-shadow);
  border: groove;
  border-color: var(--color-border);
}
.DetailButton:active {
  transform: scale(0.95);
  box-shadow: var(--color-shadow);
}

.ContainernameDetail {
  display: flex;
  position: relative;
  background-color: rgba(197, 197, 197, 0.253);
  color: rgb(34, 5, 43);
  padding: 10px;
  width: 50%;
  left: 20%;
  height:fit-content;
  font-size: 26px;
  justify-self: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  border: 3px solid rgba(122, 22, 153, 0.589);
}

.DivDetail {
  position: relative;
  display: flex;
  height: 70%;
  width: 90vw;
  align-items: center;
}

.ImageDetail {
  position: relative;
  width: 70%;
  align-items: center;
  margin: 2%;
}
.Image {
  border-radius: 5px;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 50vh;
  box-shadow: var(--color-shadow);
}

.DatosDetail {
  border-radius: 10px;
  width: 40%;
  height: 80%;
  background-color: rgba(194, 194, 194, 0.192);
  color: rgb(34, 5, 43);
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 10px 15px 5px;
  display: flex;
  flex-direction: column;
}

.DivInfo {
  display: flex;
  height: 30px;
  border-bottom: 2px solid rgba(122, 22, 153, 0.589); /* Borde sólido en toda la parte inferior */
  border-bottom-width: 50%; /* Ancho del 80% de la parte inferior */
  border-bottom-style: solid; /* Estilo sólido en la parte inferior */
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  padding: 1px;
}

.DivInfoDown {
  display: table-column;
  margin: 1px;
  border: 2px solid rgba(122, 22, 153, 0.589);
  height:fit-content;
  padding: 5px;
}

.TittleInfoDown{
margin: 0px 0px 10px 0px;
}

.DatoBox {
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: fit-content;
  padding: 2px 5px 2px 5px;
}

@media (max-width: 800px) {
  .DetailCard {
      width: 70vw;
  }
  
  .DivDetail {
    display: block;
    margin: 0 auto;
    height: 80%;
  }
  .ButtonTittle {
    transform: scale(80%);
  }
  .ContainernameDetail {
    font-size: 18px;
  }
  .ImageDetail {
    width: 60%;
    margin: 2% auto;
  }
  .Image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 30vh;
  }
  .DatosDetail {
    width: 80%;
    height: 40%;
    font-size: 12px;
    margin: 0 auto;
  }
  .DivInfo {
    position: relative;
    height: 6%;
  }
}