.navPaginate {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.ulPaginate {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.liPaginate {
  margin: 0 5px;
}

.paginateButton {
  background-color: #921076;
  color: #fff;
  padding: 8px 12px;
  border: 1px solid #b31390;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.paginateButton:hover {
  background-color: #b43a9a;
}

.activePage {
  background-color: #dd9ecf;
  color: #0c0c0c;
  border: 2px solid #79035f;
}

.ButtonToEnd{
  background-color: #421338;
  color: #fff;
  padding: 8px 12px;
  border: 1px solid #941578;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-inline: 5px;
}
.ButtonToEnd:hover {
  background-color: #921076;
}
