.CardsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -30px 50px 0px 50px;
  padding: 3px;
}

.CardsError{
  display: flex;
  border-radius: 10px;
  padding: 40px;
  width: 250;
  height: 60;
  margin: 10px;
  color:rgb(122, 11, 11);
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 800px) {
  .CardsList {
    margin: -20px 0px 0px 0px;
    transform:scale(80%);
  }
}