.Home {
  display: flex;
  flex-direction: column;  
  text-align: center;
  align-items: center;
}

.HomeContainerTitle{
  display: flex;
  justify-content: left;
  align-items: center;
    margin: 20px 80px 80px 80px;
    background-color: rgb(233, 233, 233);
    width: 100vw;
    height: 5vw;
  }

  .HomeTitle{
    align-items: center;
    margin-left: 40px;
    font-size: 30px;
    color:#8d0970;
    font-family:cursive ;
  }
  
  