.Landing {
  display: flex;
  text-align: center;
  background-image: url('https://images2.alphacoders.com/109/1095787.jpg'); 
  background-size: 125%; /* Ajusta según tus necesidades */
  background-repeat: no-repeat; /* Ajusta según tus necesidades */
  background-position: 100% 33% ;
  height: 100vh; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  .Landing-H1 {
    cursor:default;
    color: white; /* Ajusta según tus necesidades */
    margin-top: -15%; /* Ajusta según tus necesidades */
    margin-left: 25%; 
}

.LandingButton {
  position:absolute;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 60px;
  padding: 10px;
  margin-left: 59%; 
  background-color: #921076; /* Ajusta según tus necesidades */
  color: white; /* Ajusta según tus necesidades */
  border: outset;
  border-color: #8a0c6e;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.LandingButton:hover {
  background-color: #8d1673; /* Ajusta según tus necesidades */
  transform: translateY(1px);
  box-shadow: 0 2px 6px #440637;
  border: groove;
  border-color: #810c68;
}
.LandingButton:active {
  transform: scale(0.95);
  box-shadow: 0 1px 3px #3b042f;
}
  